# OS files
.DS_Store

# Secrets
.env

# Virtual environments
/.venv*

# Cached data
/.cache

# Compilation
__pycache__/

# Build
dist/
build/
*.egg-info

# Visualization Saves
model_pngs/

# Testing & dev
.pytest_cache/
debug.log
scratch
